* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }
  

body{
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}

a{
    color: rgb(56, 45, 45);
    text-decoration: none;
}
/* nav{
    position: fixed;
    top:0;
    width: 100%;
} */

#navbar {
    display: flex;
    position: sticky;
    top:0;
    background:black;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 0.75rem;
  }
  

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a{
    color:white;
    padding: 0.755rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background:#f89;
    border-radius: 15px;
    transition: .5s;
}
.primText{
    color: rgb(236, 190, 122);
}

.btn{
    display: inline-block;
    font-size: 18px;
    text-shadow: none; 
    color: #fff;
    background: rgb(236, 190, 122);
    padding: 13px 20px;
    border-radius: 5px;
}
.btn:hover{
    background: rgb(255, 118, 118);
    transition: .5s;
}
#banner{
    background: url('../img/b.jpg') no-repeat center center/cover;
    height:100vh;
    color: #fff;
}

#banner .cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    text-shadow: 2px 2px 9px rgb(49, 49, 49) ;
    
    position: absolute;
    top:55px;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(49, 8, 126, 0.3)
}

#banner .cont h1{ 
    overflow: hidden;
    border-right:.1em solid rgb(180, 0, 0);
    white-space: nowrap;
    margin: 0 auto; 
    font-size: 60px;
    line-height: 1.7em;
    animation: 
        typing 3.5s steps(40, end) infinite,
        blink-caret .75s step-end infinite;
}

@keyframes typing{
    from{width:0}       
    to{width:50%}
}

@keyframes blink-caret{
    from, to {border-color: transparent}
    50%{border-color: rgb(180, 0, 0)}
}

#banner .cont p{
    padding-bottom: 30px;
    text-align: center;
}